body{
    /* images */
    /* background-image: url(background.jpg); */

    /* colors */
    /* background-color: pink; */

    /* gradient */
    background: rgba(223, 209, 134, 1);
    background: linear-gradient(54deg, rgba(223, 209, 134, 1)0%,rgb(236, 255, 200)38%, rgb(134, 170, 223)100%);

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}


.font-sample{
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
}

.text-sample{
    text-align: center;
    text-transform: capitalize;
    text-decoration: underline;
}

#spacing-sample{
    letter-spacing: 5px;
    line-height: 5;
}

#shadow-sample{
    text-shadow: 10px -5px 2px yellow;
    /* text-shadow:
        x-coordinate
        y-coordinate
        blur radius
        color of the shadow */
}

.box-model{
    background-color: antiquewhite;
    height: 100px;
    width: 100px;

    /* padding-left: 10px; */
    padding: 10px 20px 5px;

    border-color: crimson;
    border-width: 5px;
    border-style: dotted;

    border: 10px double blue;

    border-top: 5px solid green;
    border-right: 10px dashed orange;
    border-bottom: dotted purple;

    border-radius: 20px;
    margin: 5px 10px 40px 8px;
    /* margin-left, margin-right, margin-top, margin-bottom */
}

/* ==PADDING==
    1 value = applied to all 4 sides
    2 value = top and bottom side || right and left side
    3 value = top side || left and right side || bottom side
    4 value = top side || right side || bottom side || left side
*/